__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.env.dev
.env.prod
.python-version
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.github
.charts
venv
.venv
.idea
data
.vscode
*~
